@font-face {
    font-family: 'Gilroy';
    src: url('subset-Gilroy-ExtraBold.woff2') format('woff2'),
        url('subset-Gilroy-ExtraBold.woff') format('woff'),
        url('subset-Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

